@model WebShopV3.Models.Computer
@{
    ViewData["Title"] = "Удалить компьютер";
}

<h1>Удалить компьютер</h1>

<h3>Вы уверены, что хотите удалить этот компьютер?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Название:</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Цена:</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>
        <dt class="col-sm-2">Количество:</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>